html {
  scroll-behavior: smooth;
}
  
  .img-logo {
    width: 7%;
  } 
  .img-logo img{
    width: 80%;
  } 
  
  /* Estilo do banner */
  .banner {
    height: auto;
    background-color: #FFF6EA;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 15px;
  }
  
  .banner h1 {
    color: #fff;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
    /* Definindo o estilo para o corpo da página */
  body {
    margin-inline: 5%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF6EA;
    justify-content: center;
    align-items: center;
  }
  
  /* Definindo o estilo para o cabeçalho */
  header {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Definindo o estilo para o título do cabeçalho */
  header h1 {
    margin: 0;
  }
  
  /* Definindo o estilo para a navegação */
  nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
  }
  
  /* Definindo o estilo para os links da navegação */
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
  }
  
  /* Definindo o estilo para a seção principal */
  main {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #produtos:target {
    scroll-margin-top: .8em;
  }

  /* Definindo o estilo para a imagem do card */
  .card img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    padding: 5px;
  }
  
  /* Definindo o estilo para o título do card */
  .card h2 {
    margin: 10px;
  }
  
  /* Definindo o estilo para o texto do card */
  .card p {
    margin: 10px;
    font-size: 16px;
  }
  
  /* Definindo o estilo para o botão de ação do card */
  .card button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .card button:hover {
    background-color: #555;
  }
  
  /* Definindo o estilo para o rodapé */
  footer {
    background-color: #454545;
    color: white;
    font-size: 16px;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 10px;
    color: beige;
  }

  .container {
    margin-top: 30px;
  }

  .container-cart {
    display: none;
    position: fixed;
    top: 3%;
    margin-left: 75%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 5px 5px #00000030;
    width: 18%;
    font-size: 10pt;
  }

  .container-cart tbody td {
    margin-right: 5px;
  }

  .cart-tbody {
    text-align: center;
  }

  .cart-table {
    padding: 2%;
    width: 120%;
  }