/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('../imgs/wallpaper-login.png'); /* fundo gradiente */
    background-size: cover;
    background-attachment: fixed;
  }
  
  nav {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    margin-left: 1%;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  main {
    margin: 20px;
    background: #ffffff85;
    padding: 10px;
    border-radius: 15px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #2c2c2c;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: #f2f2f2;
  }

  .btnEditar {
    box-shadow: 0px 10px 11px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    margin-bottom: 7px;
  }
  .btnEditar:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }
  .btnEditar:active {
    position:relative;
    top:1px;
  }

  .btnExcluir {
    box-shadow: 0px 10px 11px -7px #e67a73;
    background-color: #e4685d;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
  }
  .btnExcluir:hover {
    background-color:#eb675e;
  }
  .btnExcluir:active {
    position:relative;
    top:1px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea,
  input[type="number"] {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 18px;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Estilos para menu responsivo */
  
  @media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
    
    nav a {
      width: 100%;
      text-align: center;
    }

    .login-box {
      margin-top: 15%;
      background: #ffffff24;
      border: 1px solid #fff;
      padding: 20px;
      width: 250px;
      border-radius: 20px;
      margin-left: 10px;
    }
  }
  
  @media screen and (max-width: 1500px) {
    .login-box {
      margin-top: 15%;
      background: #ffffff24;
      border: 1px solid #fff;
      padding: 20px;
      width: 250px;
      border-radius: 20px;
      margin-left: 45%;
    }
  } 

  .login-box {
    margin-top: 15%;
    background: #ffffff24;
    border: 1px solid #fff;
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    margin-left: 45%;
  }
  
  .login-box h1 {
    color: #2c2c2c;
    text-align: center;
  }
  
  .login-box form label {
    color: rgb(29, 29, 29);
  }
  
  .login-box form input[type="text"],
  .login-box form input[type="password"],
  .login-box form input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    color: #2c2c2c;
    inline-size: auto;
    border: none;
    background: #fbfbfba6;
  }
  
  .login-box form input[type="submit"] {
    background: #fff;
    color: #454545;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .profile {
    color: #454545;
    margin-left: auto;
    text-align: center;
    padding: 6px;
    font-size: 15pt;
  }

  .profile p {
    width: 150px;
  }

  .btnExit {
    width: 50px;
    padding: 20px;
    text-align: center;
    margin-right: 2%;
    margin-left: auto;
  }

  footer {
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98.9%;
  }
  
  tbody {
    font-size: 20pt;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
