{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
  <div class="profile">
    <p>Olá, <strong>{{ usuario }}</strong>!</p>
  </div>
  <h1>Estoque de aparelhos</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Estoque</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for celular in celulares %}
        <tr>
          <td>{{ celular[1] }}</td>
          <td>{{ celular[2] }}</td>
          <td>{{ celular[3] }}</td>
          <td>{{ celular[4] }}</td>
          <td>
            <a href="{{ url_for('edit', id=celular[0]) }}" class="btnEditar">Editar</a>
            <br>
            <a href="{{ url_for('delete', id=celular[0]) }}" class="btnExcluir">Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
