<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SmartHalph - Marketplace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/market.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="img-logo">
            <img src="/static/imgs/logo.png" alt="">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Administrador</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Banner -->
    <div class="banner">
        <img src="{{ url_for('static', filename='imgs/banner.gif') }}" alt="Banner" class="img-fluid">
    </div>

    <!-- Produtos -->
    <div class="container" id="produtos">
        <h2>Marketplace</h2>
        <div class="row">
            {% for celular in celulares %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ celular[5] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ celular[1] }}</h5>
                        <p class="card-text">{{ celular[2] }}</p>
                        <p class="card-text">R$ {{ celular[3] }}</p>
                        <a href="javascript:void(0)" class="btn btn-primary" id="btnComprar-{{celular[1]}}" onclick="adicionarAoCarrinho('btnComprar-{{celular[1]}}')">Comprar</a>
                    </div>                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Carrinho -->
    <div class="container-cart">
        <section >
            <h2 class="section-title">Carrinho</h2>

            <table class="cart-table">
                <thead>
                    <tr>
                        <th class="table-head-item first-col">Item</th>
                        <th class="table-head-item second-col">Preço</th>
                        <th class="table-head-item third-col">Quantidade</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="3" class="cart-total-container">
                            <strong>Total</strong>
                            <span>R$0,00</span>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <button type="button" class="btn btn-primary">Finalizar Compra</button>

        </section>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>

<footer>
    <p>&copy; 2023 Todos os direitos reservados - SmartHalph Marketplace.</p>
    <p>Desenvolvido por: </p>
    <ul>
      <li>Azura</li>
      <li>Netero</li>
      <li>Peregrinno</li>
    </ul>
  </footer>
</html>
